
/*イベント（20230619用）*/
.thumbnail-20230619{
    height: 700px;
    width: 500px;
    text-align: center;
    margin:0px; /*bodyの余白に合わせれば両端の余白生まれるので 0px でOK*/
    
  }
  
  .thumbnail-20230619 img{
    height: 100%;
    width: 100%;
  }
  /*追加分終了*/
  
  /*レスポンシブデザイン*/
  @media screen and (max-width: 767px) {
    .thumbnail-20230619{
      height: 350px;
      width: 250px;
    }
  
    .thumbnail-20230619 img{
      height: 100%;
      width: 100%;
    }
  }